* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: lightgray;
  width: 1152px;
}

#logo {
  color: black;
}

.cart-section {
  right: 650px;
  position: absolute;
}

.fas_fa-shopping-cart {
  size: 100px;
}
