#logo {
  color: black;
  position: absolute;
  width: 159px;
  height: 51px;
  left: 21px;
  top: 12px;
  font-size: 22px;
  line-height: 30px;
}

#top-line {
  position: absolute;
  width: 1152px;
  top: 60.93px;
  border: 1px solid #000;
}

#signin {
  position: absolute;
  width: 117px;
  height: 121px;
  left: 518px;
  top: 156px;
  font-size: 24px;
  font-weight: 400;
}

#email-address {
  position: absolute;
  width: 136px;
  height: 35px;
  left: 430px;
  top: 221px;
  font-size: 16px;
  font-weight: 400;
}

#password {
  position: absolute;
  width: 128px;
  height: 45px;
  top: 328px;
  left: 430px;
  font-weight: 400;
  font-size: 16px;
}

#textbox1,
#textbox2 {
  background-color: white;
  position: absolute;
  width: 257px;
  height: 40px;
  left: 430px;
}

#textbox1 {
  top: 250px;
}

#textbox2 {
  top: 356px;
}

#sign-up {
  width: 500px;
  height: 46px;
  top: 421px;
  left: 418px;
  position: absolute;
  font-size: 21px;
}

#enter {
  position: absolute;
  width: 148px;
  height: 70px;
  left: 492px;
  top: 483px;
  background-color: #c1c1c1;
  font-size: 24px;
  font-weight: 400;
}

#signinregister {
  align-items: right;
  width: 135px;
  height: 30px;
  top: -332px;
  left: 417px;
  size: 16px;
  font-weight: 400;
  background-color: #b6b6b6;
  text-decoration-line: underline;
}

#signupbutton {
  background-color: #b6b6b6;
  border-color: #b6b6b6;
  text-decoration: underline;
}

#whitebox {
  background-color: white;
  width: 783px;
  height: 537px;
  top: 91px;
  left: 186px;
  position: absolute;
}

#register-header {
  top: 35px;
  left: 345px;
  font-weight: 400;
  font-size: 20px;
  position: absolute;
}

#email-registration {
  position: absolute;
  left: 215px;
  top: 101px;
  font-size: 14px;
}

#email-input {
  position: absolute;
  left: 215px;
  top: 135px;
  width: 309px;
  height: 32px;
}

#password-registration {
  position: absolute;
  left: 215px;
  top: 195px;
  font-size: 14px;
}

#password-input {
  position: absolute;
  width: 309px;
  height: 32px;
  left: 215px;
  top: 228px;
}

#password-input-confirm {
  position: absolute;
  width: 309px;
  left: 215px;
  top: 315px;
}

#confirm-password {
  position: absolute;
  left: 215px;
  top: 285px;
  font-size: 14px;
}

#register-confirm {
  background-color: #dc2626;
  position: absolute;
  width: 244px;
  height: 32px;
  left: 250px;
  top: 380px;
  color: white;
}

#mt-2 {
  position: relative;
  color: #dc2626;
  top: 425px;
  left: 280px;
}

.searchbar {
  position: absolute;
  right: 750px;
  width: 550px;
  top: 40px;
}

.sign-in {
  right: 490px;
  position: absolute;
  top: 10px;
}

#top-sellers {
  position: absolute;
  top: 100px;
  left: 250px;
}

#top-rated {
  position: absolute;
  top: 305px;
  left: 250px;
}

#newproducts {
  position: absolute;
  top: 470px;
  left: 20px;
}

#productbox {
  top: 100px;
  position: absolute;
  background-color: #f4eded;
  width: 200px;
  height: 300px;
}

.productlisting {
  color: darkgray;
}

.cart-icon {
  width: 45px;
  position: absolute;
  left: 800px;
  top: 27px;
}
